# Ignore Play! working directory #
bin/
/db
/lib/
/logs/
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/*.iml
/*.ipr
eclipse/
modules/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.settings
.classpath
.project
