# Ignore Play! working directory #
bin/
/db
.eclipse
/logs/
/project/target
/target
test-result
server.pid
*.eml
/dist/
.cache
/*.iml
/*.ipr
eclipse/
.settings/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

#.classpath
#.project
#.settings
