#{extends 'Secure/layout.html' /}

<script language="JavaScript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
	$("#changePassword").click(function(){
		username = $("#username").val();
		$.get("/ChangePassword/sendEmail?username="+ username, function(data) {
			if (data == "OK") {
				window.location.assign("http://localhost:9000/ChangePassword/show");
			}
		})
	});
})

</script>

<div id="login">
	
	<h1>&{'secure.title'}</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				${messages.get(flash.error)}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				${messages.get(flash.success)}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'secure.remember'}</label>
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" />
		</p>
		<a href="/Register/show">Register</a>
		<br>
	#{/form}
	<input id="changePassword" type="button" value="Change password" />
		
</div>