#{extends 'standardForm.html' /}
#{set title:'Invoice' /}

#{set 'action'}
	#{if mode == 'add'}
		@{Invoices.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{Invoices.edit()}
	#{/elseif}
	#{else}
		@{Invoices.filter()}
	#{/else}
#{/set}
	
<script>

$(document).ready(function(){
	#{if mode != 'filter'}
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1;
		var yyyy = today.getFullYear();
		if(dd<10){
	    	dd='0'+dd
		} 
		if(mm<10){
			mm='0'+mm
		} 
		today = yyyy+'-'+mm+'-'+dd;
		document.getElementById("invoice_dateOfInvoice").setAttribute("max", today);
		document.getElementById("invoice_dateOfValue").setAttribute("min", today);
	#{/if}

	
	
	$("#companyPickup").click(function(){
		idCompany = $(".highlighted").find(".comp_id").html();
		var comboZoomCompany = document.getElementById('invoice_company_id');
	    comboZoomCompany.value = idCompany;
		$('#companiesModal').modal('toggle');
	});
	
	$("#businessPartnerPickup").click(function(){
		idPartner = $(".highlighted").find(".partner_id").html();
		var comboZoomPartner = document.getElementById('invoice_businessPartner_id');
	    comboZoomPartner.value = idPartner;
		$('#businessPartnersModal').modal('toggle');
	});
	
	$("#businessYearPickup").click(function(){
		idYear = $(".highlighted").find(".year_id").html();
		var comboZoomYear = document.getElementById('invoice_businessYear_id');
	    comboZoomYear.value = idYear;
		$('#businessYearsModal').modal('toggle');
	});
	
	$("#dateReportButton").click(function(){
		d1 = $("#beginDateReport").val();
		d2 = $("#endDateReport").val();
		if(d1 != '' && d2 != ''){
			if(d1 > d2){
				alert("Begin date must be before end date.");
				return;
			}
		}
		$('#dateReportModal').modal('toggle');
		$(location).attr('href', '/Invoices/generateKIF?begin='+d1+'&end='+d2);
	});
	
	$("#invoiceReport").click(function(){
		highlighted = $(".highlighted");
		id = highlighted.find(".id").html();
		if(id == null || id == ''){
			$("#reportAlert1").attr("hidden", false);
			return;
		}
		invoiceReport(id);
	});
});

function dateChanged(event){
	dateOfInvoice = $("#invoice_dateOfInvoice").val();
	dateOfValue = $("#invoice_dateOfValue").val();
	if(dateOfInvoice != '' && dateOfValue != '') {
		if(dateOfInvoice > dateOfValue){
			alert("Date of invoice must be before date of value.");
			 $("#invoice_dateOfInvoice").val("");
			return;
		}
	}
	document.getElementById("invoice_dateOfValue").setAttribute("min", dateOfInvoice);
}


function sync(item){
	id = item.find(".id").html();
	number = item.find(".number").html();
	dateOfInvoice = item.find(".dateOfInvoice").html();
	dateOfValue = item.find(".dateOfValue").html();
	basis = item.find(".basis").html();
	tax = item.find(".tax").html();
	total = item.find(".total").html();
	companyId = item.find(".companyId").html();
	businessYearId = item.find(".businessYearId").html();
	businessPartnerId = item.find(".businessPartnerId").html();
    $("#invoice_id").val(id);
    $("#invoice_number").val(number);
    
    var date1 = new Date(dateOfInvoice);
	var day1 = ("0" + date1.getDate()).slice(-2);
    var month1 = ("0" + (date1.getMonth() + 1)).slice(-2);
	var today1 = date1.getFullYear()+"-"+(month1)+"-"+(day1) ;
    $("#invoice_dateOfInvoice").val(today1);
    
    var date2 = new Date(dateOfValue);
	var day2 = ("0" + date2.getDate()).slice(-2);
    var month2 = ("0" + (date2.getMonth() + 1)).slice(-2);
	var today2 = date2.getFullYear()+"-"+(month2)+"-"+(day2) ;
    $("#invoice_dateOfValue").val(today2);
    
    $("#invoice_basis").val(basis);
    $("#invoice_tax").val(tax);
    $("#invoice_sum").val(total);
    //za combo boxeve
    var comboZoomCompany = document.getElementById('invoice_company_id');
    comboZoomCompany.value = companyId;
    var comboZoomYear = document.getElementById('invoice_businessYear_id');
    comboZoomYear.value = businessYearId;
    var comboZoomPartner = document.getElementById('invoice_businessPartner_id');
    comboZoomPartner.value = businessPartnerId;
    
}

function remove(id) {
	$(location).attr('href', '/Invoices/delete?id='+id);
}

function nextFormInvoice(id) {
	$(location).attr('href', '/Invoices/nextform?id='+id);
}

function export_to_xml(id) {
	$(location).attr('href', '/Invoices/export?id='+id);
}

function invoiceReport(id) {

	/* #{list items:invoices, as:'invoice'}
	    if(check(${invoice.id}, id)){
	    	if(${invoice.invoiceItems.size() == 0}){
	    		$("#reportAlert2").attr("hidden", false);
	    		return;
	    	} 
	    }
	#{/list} */
	$(location).attr('href', '/Invoices/invoiceReport?id='+id);
}


function check(item, id){
	if(item == id)
		return true;
	else return false;
}

</script>

<p>
<ul>
  <li><a href="@{Invoices.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Invoices.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextFormInvoice"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="#" id = "export_to_xml"><img src="@{'/public/images/xml.png'}"/></a></li>
  <li><a href="#" id = "invoiceReport"><img src="@{'/public/images/reporta.png'}"/></a></li>
  <li><a href="#" id = "dateReport" data-toggle="modal" data-target="#dateReportModal"><img src="@{'/public/images/kif.png'}"/></a></li>
</ul>
</p>


<h1>Invoice</h1>

#{if hasChildren}
	<div class="alert alert-info">
		 <strong>Error!</strong> Unable to delete an invoice that has items.
		 <a href="@{Invoices.show("edit")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a>
	</div>
#{/if}

#{if generatedReport}
	<div class="alert alert-info">
		 <strong>Success!</strong> Report successfully generated.
		 <a href="@{Invoices.show("edit")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a>
	</div>
#{/if}

<div class="alert alert-info" hidden="true" id="reportAlert2">
		 <strong>Error!</strong> Please select an invoice with items.
		 <a href="@{Invoices.show("edit")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a>
</div>

<div class="alert alert-info" hidden="true" id="reportAlert1">
		 <strong>Error!</strong> Please select an invoice.
		 <a href="@{Invoices.show("edit")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a>
</div>


<table>
	<tr class = "header">
	   <th>Company name</th>
	   <th>Business year</th>
	   <th>Business partner</th>
	   <th>Number</th> 
	   <th>Date of invoice</th>
	   <th>Date of value</th>
	   <th>Basis</th> 
	   <th>Tax</th>
	   <th>Total</th> 
    </tr>
    
#{list items:invoices, as:'invoice'}
	<tr>
		<td class = "companyName">${invoice.company.name}</td>
		<td class = "businessYear">${invoice.businessYear.year}</td>
		<td class = "businessPartner">${invoice.businessPartner.name}</td>
		<td class = "number">${invoice.number}</td>
		<td class = "dateOfInvoice">${invoice.dateOfInvoice.toString().split(" ")[0]}</td>
		<td class = "dateOfValue">${invoice.dateOfValue.toString().split(" ")[0]}</td>
		<td class = "basis">${invoice.basis}</td>
		<td class = "tax">${invoice.tax}</td>
		<td class = "total">${invoice.total}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${invoice.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "companyId">${invoice.company.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "businessYearId">${invoice.businessYear.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "businessPartnerId">${invoice.businessPartner.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		<form action = "${action}" method = "POST">
		
				
				#{field 'invoice.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'invoice.company.id'}
					<label for = "${field.id}">Company</label>
					
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:companies, as:'company'}
							<option value = "${company.id}">${company.name}</option>
						#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#companiesModal">...	</button>
				#{/}
				<span class="error">#{error 'company' /}</span>
				</p>
				
				<p>
				#{field 'invoice.businessYear.id'}
					<label for = "${field.id}">Business Year</label>
					
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:businessYears, as:'businessYear'}
							<option value = "${businessYear.id}">${businessYear.year}</option>
						#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#businessYearsModal">...	</button>
				<span class="error">#{error 'business year' /}</span>
				#{/}
				</p>
				
				<p>
				#{field 'invoice.businessPartner.id'}
					<label for = "${field.id}">Business Partner</label>
					
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:businessPartners, as:'businessPartner'}
							<option value = "${businessPartner.id}">${businessPartner.name}</option>
						#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#businessPartnersModal">...	</button>
					
				#{/}
				<span class="error">#{error 'business partner' /}</span>
				</p>
		
				<p>
				#{field 'invoice.dateOfInvoice'}
					<label for = "${field.id}">Date of invoice</label>
					<input type = "date" name = "${field.name}" id = "${field.id}" style="width:175px"  onchange="dateChanged(event);"/>
					
				#{/}
				<span class="error">#{error 'date of invoice' /}</span>
				</p>
				
				<p>
				#{field 'invoice.dateOfValue'}
					<label for = "${field.id}">Date of value</label>
					<input type = "date" name = "${field.name}" id = "${field.id}" style="width:175px"/>
					
				#{/}
				<span class="error">#{error 'date of value' /}</span>
				</p>
				
				<div id = "formActions">
					<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
					<a href = "@{Invoices.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
	
</div>

<div class=" panel" style="width:100%">
	<p style="margin-left:1em"><b>Mode: ${mode}</b></p>
</div>

 <!-- Modal COMPANIES-->
  <div class="modal fade" id="companiesModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Companies
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Name</th>
		   <th>PIB</th>
		   <th>MBR</th>
		</tr>
		#{list items:companies, as:'company'}
		<tr class="modalRow">
			<td class = "comp_name">${company.name}</td>
			<td class = "comp_PIB">${company.PIB}</td>
			<td class = "comp_MBR">${company.MBR}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "comp_id">${company.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "companyPickup" type = "button" value = "Choose"/>
		</div>
		</div>
      </div>
    </div>
   </div>
   
   
   <!-- Modal BUSINESS PARTNERS-->
  <div class="modal fade" id="businessPartnersModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	BusinessPartners
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Name</th>
		   <th>Adress</th>
		   <th>Kind</th>
		</tr>
		#{list items:businessPartners, as:'businessPartner'}
		<tr class="modalRow">
			<td class = "partner_name">${businessPartner.name}</td>
			<td class = "partner_address">${businessPartner.address}</td>
			<td class = "partner_kind">${businessPartner.kind}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "partner_id">${businessPartner.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "businessPartnerPickup" type = "button" value = "Choose"/>
		</div>
		</div>
      </div>
    </div>
   </div>
   
    <!-- Modal BUSINESS YEARS-->
  <div class="modal fade" id="businessYearsModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Business years
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Year</th>
		   <th>Active?</th>
		</tr>
		#{list items:businessYears, as:'businessYear'}
		<tr class="modalRow">
			<td class = "year_year">${businessYear.year}</td>
			<td class = "year_active">${businessYear.active}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "year_id">${businessYear.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "businessYearPickup" type = "button" value = "Choose"/>
		</div>
		</div>
      </div>
    </div>
   </div>
   
       <!-- Modal DATE REPORT-->
  <div class="modal fade" id="dateReportModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Begin and end
      </div>
      <div class="modal-body">
	    <form style = "padding:2em">
			<p>
				<label for = "beginDateReport">Begin date</label>
				<input type = "date" id = "beginDateReport" style="width:175px"/>
				
				
				<label for = "endDateReport">End date</label>
				<input type = "date" id = "endDateReport" style="width:175px"/>
				
			</p>
		</form>
		<div class="modal-footer">
			<input id = "dateReportButton" type = "button" value = "Choose"/>
		</div>
		</div>
      </div>
    </div>
   </div>
   
 