#{extends 'standardForm.html' /}
#{set title:'BusinessPartner' /}

#{set 'action'}
	#{if mode == 'add'}
		@{BusinessPartners.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{BusinessPartners.edit()}
	#{/elseif}
	#{else}
		@{BusinessPartners.filter()}
	#{/else}
#{/set}
	
<script>

function sync(item){
	id = item.find(".id").html()
	name = item.find(".name").html()
	address = item.find(".address").html()
	kind = item.find(".kind").html()
	mobile = item.find(".mobile").html()
	email = item.find(".email").html()
	account = item.find(".account").html()
    company_id = item.find(".company_id").html()
    $("#businesspartner_id").val(id);
    $("#businesspartner_name").val(name);
    $("#businesspartner_address").val(address);
    $("#businesspartner_kind").val(kind);
    $("#businesspartner_mobile").val(mobile);
    $("#businesspartner_email").val(email);
    $("#businesspartner_account").val(account);
    $("#businesspartner_company_id").val(company_id);
}

function remove(id) {
	$(location).attr('href', '/BusinessPartners/delete?id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{BusinessPartners.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{BusinessPartners.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Business Partner</h1>

<table>
	<tr class = "header">
	   <th>Name</th> 
	   <th>Address</th>
	   <th>Kind</th>
	   <th>Mobile</th> 
	   <th>Email</th>
	   <th>Account</th> 
	   <th>Company_Id</th>
	   
	</tr>
#{list items:partners, as:'businesspartner'}
	<tr>
		<td class = "name">${businesspartner.name}</td>
		<td class = "address">${businesspartner.address}</td>
		<td class = "kind">${businesspartner.kind}</td>
		<td class = "mobile">${businesspartner.mobile}</td>
		<td class = "email">${businesspartner.email}</td>
		<td class = "account">${businesspartner.account}</td>
		<td class="company_id">${businesspartner.company.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${businesspartner.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		<form action = "${action}" method = "POST">
		
				#{field 'businesspartner.company.id'}
					<label for = "${field.id}">Company</label> &nbsp
					<input type = "number" name = "${field.name}" id = "${field.id}" readonly = "true"/>
				#{/}
				
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#businesspartner_companies">Pick</button>
		
				#{field 'businesspartner.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'businesspartner.name'}
					<label for = "${field.id}">Name</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'businesspartner.address'}
					<label for = "${field.id}">Address</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>	
				<p>
				#{field 'businesspartner.kind'}
					<label for = "${field.id}">Kind</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'businesspartner.mobile'}
					<label for = "${field.id}">Mobile</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>	
				<p>
				#{field 'businesspartner.email'}
					<label for = "${field.id}">Email</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'businesspartner.account'}
					<label for = "${field.id}">Account</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>				
				<div id = "formActions">
					<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
					<a href = "@{BusinessPartners.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

<div class = "modal fade" id = "businesspartner_companies" role="dialog">
	<div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Companies</h4>
        </div>
        <div class="modal-body">
        <table>
        	<tr class = "header">
        		<td>Company Id</td>
        		<td>Company Name</td>
        	</tr>
          #{list items:companies, as:'company'}
          	<tr>
				<td class = "company_id">${company.id}</td>
				<td class = "company_name">${company.name}</td>
          	</tr>
          #{/list}
         </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id = "add_company" data-dismiss="modal">Add</button>
          <button type="button" class="btn btn-danger" id = "close_company_businesspartner" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

