#{extends 'standardForm.html' /}
#{set title:'Company' /}

#{set 'action'}
	#{if mode == 'add'}
		@{Companies.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{Companies.edit()}
	#{/elseif}
	#{else}
		@{Companies.filter()}
	#{/else}
#{/set}
	
<script>

function sync(item){
	name = item.find(".name").html()
    PIB = item.find(".PIB").html()
    address = item.find(".address").html()
    mobile = item.find(".mobile").html()
    MBR = item.find(".MBR").html()
    id = item.find(".id").html()
    $("#company_name").val(name);
    $("#company_PIB").val(PIB);
    $("#company_address").val(address);
    $("#company_mobile").val(mobile);
    $("#company_MBR").val(MBR);
    $("#company_id").val(id);
}

function remove(id) {
	$(location).attr('href', '/Companies/delete?id='+id);
}

function business_year(id) {
	$(location).attr('href', '/Companies/business_year?company_id='+id);
}

function business_partner(id) {
	$(location).attr('href', '/Companies/business_partner?company_id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{Companies.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{Companies.show}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Companies.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform_modal" data-toggle="modal" data-target="#next_form_modal"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<h1>Company</h1>

#{if has_child}
	<div class="alert alert-danger">
		 <strong>Danger!</strong> You could't delete parent who has child!!!.
		 <a href="@{Companies.show}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a>
	</div>
#{/if}

<table>
	<tr class = "header">
	   <th>Name</th> 
	   <th>PIB</th>
	   <th>Address</th> 
	   <th>Mobile</th>
	   <th>MBR</th>
	</tr>
#{list items:companies, as:'company'}
	<tr>
		<td class = "name">${company.name}</td>
		<td class = "PIB">${company.PIB}</td>
		<td class = "address">${company.address}</td>
		<td class = "mobile">${company.mobile}</td>
		<td class = "MBR">${company.MBR}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${company.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
  <p>	
	<form action = "${action}" method = "POST">		
		#{field 'company.id'}
			<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
		#{/}
		
		<p>
		#{field 'company.name'}
			<label for = "${field.id}">Name</label>
			<input type = "text" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<p>
		#{field 'company.PIB'}
			<label for = "${field.id}">PIB</label>
			<input type = "text" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<p>
		#{field 'company.address'}
			<label for = "${field.id}">Address</label>
			<input type = "text" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<p>
		#{field 'company.mobile'}
			<label for = "${field.id}">Mobile</label>
			<input type = "text" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<p>
		#{field 'company.MBR'}
			<label for = "${field.id}">MBR</label>
			<input type = "text" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<div id = "formActions">
			<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
			<a href = "@{Companies.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
		</div>			
	</form>
  </p>
</div>

<div class = "modal fade" id = "next_form_modal" role="dialog">
	<div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Child form</h4>
        </div>
        <div class="modal-footer">
          <a href="#" id = "business_year" class="btn btn-success" data-dismiss="modal">BusinessYear</a>
          <a href="#" id = "business_partner" class="btn btn-danger" data-dismiss="modal">BusinessPartner</a>
        </div>
      </div>
      
    </div>
</div>