#{extends 'standardForm.html' /}
#{set title:'Invoice items' /}

#{set 'action'}
	#{if mode == 'add'}
		@{InvoiceItems.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{InvoiceItems.edit()}
	#{/elseif}
	#{else}
		@{InvoiceItems.filter()}
	#{/else}
#{/set}
	
<script>

$(document).ready(function(){
	
	$("#invoicePickup").click(function(){
		id = $(".highlighted").find(".inv_id").html();
		var comboZoomInvoice= document.getElementById('invoiceItem_invoice_id');
	    comboZoomInvoice.value = id;
		$('#invoicesModal').modal('toggle');
	});
	
	$("#articlePickup").click(function(){
		id = $(".highlighted").find(".art_id").html();
		var comboZoomArticle = document.getElementById('invoiceItem_article_id');
	    comboZoomArticle.value = id;
		$('#articlesModal').modal('toggle');
	});
});

function sync(item){
	id = item.find(".id").html();
	amount = item.find(".amount").html();
	price = item.find(".price").html();
	discount = item.find(".discount").html();
	basis = item.find(".basis").html();
	tax = item.find(".tax").html();
	taxTotal = item.find(".taxTotal").html();
	total = item.find(".total").html();
	invoiceId = item.find(".invoiceId").html();
	articleId = item.find(".articleId").html();
    $("#invoiceItem_id").val(id);
    $("#invoiceItem_amount").val(amount);
    $("#invoiceItem_price").val(price);
    $("#invoiceItem_discount").val(discount);
    $("#invoiceItem_basis").val(basis);
    $("#invoiceItem_tax").val(tax);
    $("#invoiceItem_taxTotal").val(taxTotal);
    $("#invoiceItem_total").val(total);
    //za combo boxeve
    var comboZoomInvoice = document.getElementById('invoiceItem_invoice_id');
    comboZoomInvoice.value = invoiceId;
    var comboZoomArticle = document.getElementById('invoiceItem_article_id');
    comboZoomArticle.value = articleId;
    
}

function remove(id) {
	$(location).attr('href', '/InvoiceItems/delete?id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{InvoiceItems.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Invoices.show("edit")}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{InvoiceItems.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Invoice items</h1>

<table>
	<tr class = "header">
	   <th>Invoice number</th>
	   <th>Article name</th>
	   <th>Amount</th>
	   <th>Price</th>
	   <th>Discount %</th> 
	   <th>Basis</th>
	   <th>Tax %</th>
	   <th>Total tax</th> 
	   <th>Total</th>
    </tr>
    
#{list items:invoiceItems, as:'invoiceItem'}
	<tr>
		<td class = "invoice">${invoiceItem.invoice.number}</td>
		<td class = "article">${invoiceItem.article.name}</td>
		<td class = "amount">${invoiceItem.amount}</td>
		<td class = "price">${invoiceItem.price}</td>
		<td class = "discount">${invoiceItem.discount}</td>
		<td class = "basis">${invoiceItem.basis}</td>
		<td class = "tax">${invoiceItem.tax}</td>
		<td class = "taxTotal">${invoiceItem.taxTotal}</td>
		<td class = "total">${invoiceItem.total}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${invoiceItem.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "invoiceId">${invoiceItem.invoice.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "articleId">${invoiceItem.article.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		<form action = "${action}" method = "POST">
		
				
				#{field 'invoiceItem.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'invoiceItem.invoice.id'}
					<label for = "${field.id}">Invoice</label>
					
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:invoices, as:'invoice'}
							<option value = "${invoice.id}">${invoice.number}</option>
						#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#invoicesModal">...	</button>
				#{/}
				<span class="error">#{error 'invoice' /}</span>
				</p>
				
				
				<p>
				#{field 'invoiceItem.article.id'}
					<label for = "${field.id}">Article</label>
					
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:articles, as:'article'}
							<option value = "${article.id}">${article.name}</option>
						#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#articlesModal">...	</button>
				#{/}
				<span class="error">#{error 'article' /}</span>
				</p>
				
				<p>
				#{field 'invoiceItem.amount'}
					<label for = "${field.id}">Amount</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<span class="error">#{error 'amount' /}</span>
				</p>
				
				<!-- <p>
				#{field 'invoiceItem.price'}
					<label for = "${field.id}">Price</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p> -->
				
				<p>
				#{field 'invoiceItem.discount'}
					<label for = "${field.id}">Discount %</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<span class="error">#{error 'discount' /}</span>
				</p>
				
				<!-- <p>
				#{field 'invoiceItem.basis'}
					<label for = "${field.id}">Basis</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'invoiceItem.tax'}
					<label for = "${field.id}">Tax</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'invoiceItem.taxTotal'}
					<label for = "${field.id}">Total tax</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'invoiceItem.total'}
					<label for = "${field.id}">Total</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p> -->
				
				
				<div id = "formActions">
					<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
					<a href = "@{InvoiceItems.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

 <!-- Modal INVOICES-->
  <div class="modal fade" id="invoicesModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Invoices
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Number</th>
		   <th>Company</th>
		   <th>Business partner</th>
		   <th>Business year</th>
		</tr>
		#{list items:invoices, as:'invoice'}
		<tr class="modalRow">
			<td class = "inv_number">${invoice.number}</td>
			<td class = "inv_comp_name">${invoice.company.name}</td>
			<td class = "inv_partn_name">${invoice.businessPartner.name}</td>
			<td class = "inv_year_year">${invoice.businessYear.year}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "inv_id">${invoice.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "invoicePickup" type = "button" value = "Choose"/>
		</div>
		</div>
      </div>
    </div>
   </div>

 <!-- Modal ARTICLES-->
  <div class="modal fade" id="articlesModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Articles
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Name</th>
		   <th>Description</th>
		   <th>Article group</th>
		</tr>
		#{list items:articles, as:'article'}
		<tr class="modalRow">
			<td class = "art_name">${article.name}</td>
			<td class = "art_description">${article.description}</td>
			<td class = "art_art_group">${article.articlegroup.name}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "art_id">${article.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "articlePickup" type = "button" value = "Choose"/>
		</div>
		</div>
      </div>
    </div>
   </div>

   