#{extends 'standardForm.html' /}
#{set title:'GSTType' /}

#{set 'action'}
	#{if mode == 'add'}
		@{GSTTypes.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{GSTTypes.edit()}
	#{/elseif}
	#{else}
		@{GSTTypes.filter()}
	#{/else}
#{/set}

<script>

function sync(item){
	name = item.find(".name").html()
    id = item.find(".id").html()
    $("#gsttype_name").val(name);
    $("#gsttype_id").val(id);
}

function remove(id) {
	$(location).attr('href', '/GSTTypes/delete?id='+id);
}

function gstrate(id) {
	$(location).attr('href', '/GSTTypes/gstrate?gsttype_id='+id);
}

function article_group(id) {
	$(location).attr('href', '/GSTTypes/article_group?gsttype_id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{GSTTypes.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{GSTTypes.show}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{GSTTypes.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform_modal" data-toggle="modal" data-target="#next_form_modal"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<h1>GSTType</h1>

<table>
	<tr class = "header">
	   <th>Name</th>
	</tr>
#{list items:gsttypes, as:'gsttype'}
	<tr>
		<td class = "name">${gsttype.name}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${gsttype.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
  <p>	
	<form action = "${action}" method = "POST">		
		#{field 'gsttype.id'}
			<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
		#{/}
		
		<p>
		#{field 'gsttype.name'}
			<label for = "${field.id}">Name</label>
			<input type = "text" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<div id = "formActions">
			<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
			<a href = "@{GSTTypes.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
		</div>			
	</form>
  </p>
</div>

<div class = "modal fade" id = "next_form_modal" role="dialog">
	<div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Child form</h4>
        </div>
        <div class="modal-footer">
          <a href="#" id = "gstrate" class="btn btn-success" data-dismiss="modal">GSTRate</a>
          <a href="#" id = "article_group" class="btn btn-danger" data-dismiss="modal">ArticleGroup</a>
        </div>
      </div>
      
    </div>
</div>

