#{extends 'standardForm.html' /}
#{set title:'GSTRate' /}

#{set 'action'}
	#{if mode == 'add'}
		@{GSTRates.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{GSTRates.edit()}
	#{/elseif}
	#{else}
		@{GSTRates.filter()}
	#{/else}
#{/set}

<script>

function sync(item){
	date = item.find(".date").html()
	GSTPercent = item.find(".GSTPercent").html()
    id = item.find(".id").html()
    gsttype = item.find(".gsttype_id").html()
    $("#gstrate_GSTPercent").val(GSTPercent);
    $("#gstrate_date").val(date);
    $("#gstrate_id").val(id);
    $("#gstrate_gsttype_id").val(gsttype);
}

function remove(id) {
	$(location).attr('href', '/GSTRates/delete?id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{GSTRates.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{GSTRates.show}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}nane"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{GSTRates.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<h1>GST Rate</h1>

<table>
	<tr class = "header">
	   <th>date</th> 
	   <th>GSTPercent</th>
	   <th>GSTType</th>
	</tr>
#{list items:gstrates, as:'gstrate'}
	<tr>
		<td class = "date">${gstrate.date}</td>
		<td class = "GSTPercent">${gstrate.GSTPercent}</td>
		<td>${gstrate.gsttype.name}</td>
		<td style = "visibility: hidden; max-width: 0px" class="gsttype_id">${gstrate.gsttype.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${gstrate.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
  <p>	
	<form action = "${action}" method = "POST">	
		#{field 'gstrate.gsttype.id'}
			<label for = "${field.id}">GSTType</label> &nbsp; 		
			<input type = "number" readonly = "true" name = "${field.name}" id = "${field.id}" value = "${gsttype_id}"/>		
		#{/}
		
			<button type="button" class="btn btn-info btn-sm" #{if gsttype_id} disabled #{/if} data-toggle="modal" data-target="#gstrate_gsttypes">Pick</button>					
		
		
		#{field 'gstrate.id'}
			<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
		#{/}
		
		<p>
		#{field 'gstrate.date'}
			<label for = "${field.id}">Date</label>
			<input type = "date" name = "${field.name}" id = "${field.id}"/>
		#{/}
		</p>
		<p>
		#{field 'gstrate.GSTPercent'}
			<label for = "${field.id}">GSTPercent</label>
			<input type = "number" name = "${field.name}" id = "${field.id}" min = "0" max = "100"/>
		#{/}
		</p>				
		<div id = "formActions">
			<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
			<a href = "@{GSTRates.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
		</div>				
	</form>
  </p>
</div>

<div class = "modal fade" id = "gstrate_gsttypes" role="dialog">
	<div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">GSTTypes</h4>
        </div>
        <div class="modal-body">
        <table>
        	<tr class = "header">
        		<td>GSTType Id</td>
        		<td>GSTType Name</td>
        	</tr>
          #{list items:gsttypes, as:'gsttype'}
          	<tr>
				<td class = "gsttype_id">${gsttype.id}</td>
				<td class = "gsttype_name">${gsttype.name}</td>
          	</tr>
          #{/list}
         </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
          <button type="button" class="btn btn-danger" id = "close_gsttype_gstrate" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>