#{extends 'standardForm.html' /}
#{set title:'BusinessYear' /}

#{set 'action'}
	#{if mode == 'add'}
		@{BusinessYears.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{BusinessYears.edit()}
	#{/elseif}
	#{else}
		@{BusinessYears.filter()}
	#{/else}
#{/set}
	
<script>

function sync(item){
	year = item.find(".year").html()
    active = item.find(".active").html()
    id = item.find(".id").html()
    company = item.find(".company_id").html()
    $("#businessyear_year").val(year);
   	if(active == "true")
    {
    	$("#businessyear_active").prop('checked', true);
    }
    else 
    {
    	$("#businessyear_active").prop('checked', false);
    } 
    $("#businessyear_id").val(id);
    $("#businessyear_company_id").val(company);
}

function remove(id) {
	$(location).attr('href', '/BusinessYears/delete?id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{BusinessYears.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{BusinessYears.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Business Year</h1>

<table>
	<tr class = "header">
	   <th>Year</th> 
	   <th>Active?</th>
	   <th>Company_Id</th>
	</tr>
#{list items:years, as:'businessyear'}
	<tr>
		<td class = "year">${businessyear.year}</td>
		<td class = "active">${businessyear.active}</td>
		<td class = "company_id">${businessyear.company.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${businessyear.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		<form action = "${action}" method = "POST">
		
				#{field 'businessyear.company.id'}
					<label for = "${field.id}">Company</label> &nbsp; 		
					<input type = "number" readonly = "true" name = "${field.name}" id = "${field.id}"/>		
				#{/}
				
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#businessyear_companies">Pick</button>	
		
				#{field 'businessyear.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'businessyear.year'}
					<label for = "${field.id}">Year</label>
					<input type = "number" name = "${field.name}" id = "${field.id}" min = "1950" max = "2020"/>
				#{/}
				</p>
				<p>
				#{field 'businessyear.active'}
					<label for = "${field.id}">Active</label>
					<input type = "checkbox" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>				
				<div id = "formActions">
					<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
					<a href = "@{BusinessYears.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

<div class = "modal fade" id = "businessyear_companies" role="dialog">
	<div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Companies</h4>
        </div>
        <div class="modal-body">
        <table>
        	<tr class = "header">
        		<td>Company Id</td>
        		<td>Company Name</td>
        	</tr>
          #{list items:companies, as:'company'}
          	<tr>
				<td class = "company_id">${company.id}</td>
				<td class = "company_name">${company.name}</td>
          	</tr>
          #{/list}
         </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
          <button type="button" class="btn btn-danger" id = "close_company_businessyear" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

