#{extends 'standardForm.html' /}
#{set title:'Register' /}

<script>	
$(document).ready(function(){
	$("#registerSubmit").click(function(){
		var regex = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$");
		var regex2 = new RegExp("[a-z]+");
		
		username = $("#username").val();
		email = $("#email").val();
		password = $("#password").val();
		password2 = $("#password2").val();
		
		if (!(username && email && password && password2)) {
			alert("Please enter values in all fields!");
			return;
		}
		
		if (password != password2) {
			$("#passwordError").show();
		}
 		else if (password.length > 100) {
			alert("Password to long!");
		}
 		else if (!regex.test(password)) {
 			alert("slaba sifra");
 		}
		else {
			$("#passwordError").hide();
			$("#submit").click();
		}
	});
})
</script>

<br>
<div class="alert alert-danger" hidden="true" id="passwordError">
		 <strong>Error!</strong> Passwords don't match.
</div>
<div class="alert alert-info" id="passwordError">
		 Password should be at least 8 characters long, containing one uppercase letter, one lowercase letter and one digit.
		 We strongly advise against the pattern "uppercase letter-lowercase letter-digit"(Aaaaaaa9)
</div>

${response}

<div class="panel">
 	<form action="@{Register.register()}"> 
	<p>
		<p id="username-field">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" value="" style="margin-left: 25px;"/>
		</p>
		<p id="email-field">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" value="" style="margin-left: 25px;"/>
		</p>
		<p id="password-field">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" value="" style="margin-left: 25px;"/>
		</p>
		<p id="password-field2">
			<label for="password2">Repeat password</label>
			<input type="password" name="password2" id="password2" value="" style="margin-left: 25px;"/>
		</p>
		<p id="register-field">
			<input type="submit" id="submit" class="hidden">
		</p>	
	</form>
		<p id="register-field">
			<button id = "registerSubmit" class="btn btn-success">Register</button>
		</p>
	
	</p>
</div>