#{extends 'main.html' /}
#{set title:'Home' /}

<div id="header">
 <ul id="tools">
   <li style = "float:right; width: 100px;" >
   </li>
 </ul> 
</div>
<div class="container">
  <h2>Welcome Page</h2>
  <a href="@{Companies.show}" class="btn btn-primary" role="button">Company</a>
  <a href="@{BusinessYears.show}" class="btn btn-info" role="button">Year</a>
  <a href="@{BusinessPartners.show}" class="btn btn-success" role="button">Partner</a>
  <a href="@{GSTTypes.show}" class="btn btn-success" role="button">GSTType</a>
  <a href="@{ArticleGroups.show}" class="btn btn-success" role="button">ArticleGroup</a>
  <a href="@{GSTRates.show}" class="btn btn-success" role="button">GSTRate</a>
  <a href="@{Pricelists.show}" class="btn btn-success" role="button">Pricelist</a>
  <a href="@{Items.show}" class="btn btn-success" role="button">Item</a>
  <a href="@{PricelistItems.show}" class="btn btn-success" role="button">PricelistItems</a>
  <a href="@{Invoices.show}" class="btn btn-warning" role="button">Invoices</a>
  <a href="@{InvoiceItems.show}" class="btn btn-danger" role="button">InvoiceItems</a>
</div>

