#{extends 'main.html' /}
#{set title:'Home' /}

<div id="header">
 <ul id="tools">
   <li style = "float:right; width: 100px;" >
  		<a href="@{Secure.logout()}" class="btn btn-danger" role="button">Logout</a>
   </li>
 </ul> 
</div>
<div class="container">
  <h2>Welcome Page</h2>
  <a href="@{Companies.show}" class="btn btn-primary" role="button">Company</a>
  <a href="@{BusinessYears.show}" class="btn btn-info" role="button">Year</a>
  <a href="@{BusinessPartners.show}" class="btn btn-success" role="button">Partner</a>
</div>

