#{extends 'main.html' /}
#{set title:'Home' /}

<div id="header">
 <ul id="tools">
  <a href="@{Companies.show}" class="btn btn-primary" role="button">Company</a>
  <a href="@{BusinessYears.show}" class="btn btn-info" role="button">Year</a>
  <a href="@{BusinessPartners.show}" class="btn btn-success" role="button">Partner</a>
  <a href="@{Invoices.show}" class="btn btn-warning" role="button">Invoices</a>
  <a href="@{InvoiceItems.show}" class="btn btn-danger" role="button">Invoice Items</a>
  <a href="@{Pricelists.show}" class="btn btn-primary" role="button">Price Lists</a>
  <a href="@{PricelistItems.show}" class="btn btn-success" role="button">Price List Items</a>  
  <a href="@{ArticleGroups.show}" class="btn btn-primary" role="button">Article Groups</a>
  <a href="@{GSTRates.show}" class="btn btn-info" role="button">Rates</a>
  <a href="@{GSTTypes.show}" class="btn btn-success" role="button">Rates Type</a>
  <a href="@{Items.show}" class="btn btn-warning" role="button">Items</a>
  <a href="@{OrderFormItems.show}" class="btn btn-danger" role="button">Order Form Items</a>
  <a href="@{OrderForms.show}" class="btn btn-info" role="button">Order Forms</a>
   <li style = "float:right; width: 100px;" >
  		<a href="@{Secure.logout()}" role="button">Logout</a>
   </li>
 </ul> 
</div>
<div class="container">
  <h2>Welcome Page</h2>
  
</div>

