#{extends 'standardForm.html' /}
#{set title:'Order form items' /}

#{set 'action'}
	#{if mode == 'add'}
		@{OrderFormItems.create()}
	#{/if}
	#{elseif mode == 'edit'}
		@{OrderFormItems.edit()}
	#{/elseif}
	#{else}
		@{OrderFormItems.filter()}
	#{/else}
#{/set}
	
<script>

$(document).ready(function(){
	$("#nextform").click(function(){
		articleId = $(".highlighted").find(".itemId").html();
		#{list items:items, as:'article'}
	    	if(check(${article.id}, articleId)){
	    		$("#articleZoomName").html("${article.name}");
	    		$("#articleZoomDescription").html("${article.description}");
	    		$("#articleZoomGroup").html("${article.articlegroup.name}");
	    	}
		#{/list}
		$('#articleZoomModal').modal('toggle');
	});
});

function check(item, id){
	if(item == id) {
		return true;
	}
	else {
		return false;
	}
}

function sync(item){
	id = item.find(".id").html();
	amount = item.find(".amount").html();
	itemId = item.find(".itemId").html();
	orderFormId = item.find(".orderFormId").html();
    $("#orderFormItem_id").val(id);
    $("#orderFormItem_amount").val(amount);
    //za combo boxeve
    var comboZoomOrderForm = document.getElementById('orderFormItem_orderForm_id');
    comboZoomOrderForm.value = orderFormId;
    
    var comboZoomItem = document.getElementById('orderFormItem_item_id');
    comboZoomItem.value = itemId;
    
}

function remove(id) {
	$(location).attr('href', '/OrderFormItems/delete?id='+id);
}

</script>

<p>
<ul>
  <li><a href="@{OrderFormItems.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
   #{if (session.get("role") == "administrator" || session.get("role") == "business partner")}
  <li><a href="@{OrderFormItems.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  #{/if}
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Order form items</h1>

<table>
	<tr class = "header">
	   <th>Order form number</th>
	   <th>Item</th>
	   <th>Amount</th>
    </tr>
    
#{list items:orderFormItems, as:'orderFormItem'}
	<tr>
  		<td class = "orderForm">${orderFormItem.orderForm.numberOfOrder}</td>
  		<td class = "item">${orderFormItem.item.name}</td> 
		<td class = "amount">${orderFormItem.amount}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${orderFormItem.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "orderFormId">${orderFormItem.orderForm.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "itemId">${orderFormItem.item.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		<form action = "${action}" method = "POST">
		
				#{authenticityToken /}	
				#{field 'orderFormItem.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'orderFormItem.orderForm.id'}
					<label for = "${field.id}">Order form</label>
					
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:orderForms, as:'orderForm'}
							<option value = "${orderForm.id}">${orderForm.numberOfOrder}</option>
						#{/list}
					</select>
					
				#{/}
				
				</p>
				
				<p>
				#{field 'orderFormItem.item.id'}
					<label for = "${field.id}">Item name</label>
					<select name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
						#{list items:items, as:'item'}
							<option value = "${item.id}">${item.name}</option>
						#{/list}
					</select>
				#{/}
				</p>
				
				<p>
				#{field 'orderFormItem.amount'}
					<label for = "${field.id}">Amount</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" style="margin:0px 0px 0px 20px; width:170px"/>
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" class="btn btn-success" value = "Submit" style="margin-left:6em"/>
					<a href = "@{orderFormItems.show('edit')}" class="btn btn-warning" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

 	<div class=" panel" style="width:100%">
		<p style="margin-left:1em"><b>Mode: ${mode}</b></p>
	</div>

   <!-- Modal ARTICLE ZOOM-->
  <div class="modal fade" id="articleZoomModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Article
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Name</th>
		   <th>Description</th>
		   <th>Article group</th>
		</tr>
		<tr class="modalRow">
			<td id="articleZoomName"></td>
			<td id="articleZoomDescription"></td>
			<td id="articleZoomGroup"></td>
		</tr>
		</table>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
      </div>
    </div>
   </div>

   